{% extends "base.html" %}

{% block content %}
<section>
    <figure class="image is-2by1">
        <img
            src="https://media.istockphoto.com/id/930281684/photo/dogs-and-cats-peeking-over-web-banner.jpg?s=170667a&w=0&k=20&c=cbj0QmTeuQuaa8ZnoDSQdbLv9DHNmW3t8d5sIqSRC2c=" />
    </figure>
</section>
<section>
    <div class="container" style="padding: 100px 0 100px 0;">
        <article class="media">
            <img style="width:380px;height:330px; border-radius: 10px;margin-right: 30px;"
                src="https://static.toiimg.com/photo/msid-92750074/92750074.jpg" alt="Image" />
            <div class="media-content">
                <div class="content">
                    <p>
                        <!-- <strong>John Smith</strong> <small>@johnsmith</small> <small>31m</small> -->
                    <h2 class="subtitle">ABOUT US PAWS & CO.</h2>
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut perspiciatis iusto repellat deleniti
                    repudiandae voluptate nisi assumenda repellendus, praesentium quia provident voluptas mollitia!
                    Explicabo ab accusamus alias officia incidunt. Accusantium numquam dolorum fuga esse, officiis enim
                    reprehenderit itaque quis est provident sit dolorem exercitationem cupiditate consequatur corporis
                    nisi harum adipisci fugiat! Magni vero ad, nisi quisquam repellendus eaque odit! Eos est animi,
                    molestias dignissimos sapiente provident blanditiis voluptatibus ipsum pariatur placeat quos saepe
                    nostrum, soluta voluptatem unde atque cum tenetur? Ut soluta voluptatibus beatae!
                    </p>
                </div>

            </div>
        </article>
    </div>
</section>
{% endblock %}