{% extends "base.html" %}

{% block content %}
<section class="hero-body" style="display: flex;
    align-items: center;
    flex-direction: column;">
<div>
    <h1 class="title" style="padding: 20px 0;">THANK YOU FOR CHOOSING A PET!</h1>
</div>
<div class="box" style="width: 600px;">
    <h2 class="subtitle has-text-dark has-text-centered" style="padding: 50px;">
        Pet is now on you way...
        <br>
    
        Thank You for giving me home!
    </h2>
    <div class="columns" style="align-items: center;padding: 20px 50px">
        <div class="column">
            <i class="fa-solid fa-circle"></i>
        </div>
                <div class="column">
            <i class="fa-solid fa-circle"></i>
        </div>
                <div class="column">
            <i class="fa-solid fa-circle"></i>
        </div>
                <div class="column">
            <i class="fa-solid fa-circle"></i>
        </div>
        <i class="fa-solid fa-truck fa-7x"></i>
        <div class="column">
            <i class="fa-solid fa-circle"></i>
        </div>
                <div class="column">
            <i class="fa-solid fa-circle"></i>
        </div>
    </div>
</div>
<a href="/shop">
    <button class="button is-rounded" style="width: 270px;">CONTINUE BROWSING</button>
</a>

</section>
{% endblock %}