{% extends "base.html" %} {% block content %}
<section>
    <figure class="image is-2by1">
        <img
            src="https://media.istockphoto.com/id/930281684/photo/dogs-and-cats-peeking-over-web-banner.jpg?s=170667a&w=0&k=20&c=cbj0QmTeuQuaa8ZnoDSQdbLv9DHNmW3t8d5sIqSRC2c=" />
    </figure>
</section>
<section class="hero-body has-text-centered" style="padding: 100px 200px">
    <div class="buttons has-addons is-centered">
  <button class="button is-success is-selected">Grooming</button>
  <button class="button">Spa</button>
  <button class="button">Packages</button>
</div>
    <div class="columns is-6">
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <h3 class="has-text-weight-bold">Lorem ipsum dolor</h3>
                        <br />
                        <div class="columns">
                            <div class="column">
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="column has-text-right">
                                <strong>$ 90</strong>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="column has-text-right">
                                <strong>$ 90</strong>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="column has-text-right">
                                <strong>$ 90</strong>
                            </div>
                        </div>
                        <ul style="margin-left: 1em; padding-top: 30px;">
                            <li>
                                Lorem ipsum dolor sit.
                            </li>
                            <li>
                                Lorem ipsum dolor sit.
                            </li>
                            <li>
                                Lorem ipsum dolor sit.
                            </li>
                        </ul>
                        <br />
                        <time datetime="2016-1-1">Jan 2016</time>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <h3 class="has-text-weight-bold">Lorem ipsum dolor</h3>
                        <br />
                        <div class="columns">
                            <div class="column">
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="column has-text-right">
                                <strong>$ 90</strong>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="column has-text-right">
                                <strong>$ 90</strong>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="column has-text-right">
                                <strong>$ 90</strong>
                            </div>
                        </div>
                        <ul style="margin-left: 1em; padding-top: 30px;">
                            <li>
                                Lorem ipsum dolor sit.
                            </li>
                            <li>
                                Lorem ipsum dolor sit.
                            </li>
                            <li>
                                Lorem ipsum dolor sit.
                            </li>
                        </ul>
                        <br />
                        <time datetime="2016-1-1">Jan 2016</time>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <h3 class="has-text-weight-bold">Lorem ipsum dolor</h3>
                        <br />
                        <div class="columns">
                            <div class="column">
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="column has-text-right">
                                <strong>$ 90</strong>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="column has-text-right">
                                <strong>$ 90</strong>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column">
                                <p>Lorem ipsum</p>
                            </div>
                            <div class="column has-text-right">
                                <strong>$ 90</strong>
                            </div>
                        </div>
                        <ul style="margin-left: 1em; padding-top: 30px;">
                            <li>
                                Lorem ipsum dolor sit.
                            </li>
                            <li>
                                Lorem ipsum dolor sit.
                            </li>
                            <li>
                                Lorem ipsum dolor sit.
                            </li>
                        </ul>
                        <br />
                        <time datetime="2016-1-1">Jan 2016</time>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="button is-rounded">Book Here</button>
</section>
{% endblock %}