{% extends "base.html" %} {% block content %}
<section>
  <figure class="image is-2by1">
    <img
      src="https://media.istockphoto.com/id/930281684/photo/dogs-and-cats-peeking-over-web-banner.jpg?s=170667a&w=0&k=20&c=cbj0QmTeuQuaa8ZnoDSQdbLv9DHNmW3t8d5sIqSRC2c="
    />
  </figure>
</section>
<section class="has-text-centered" style="padding: 100px 100px 100px 100px">
  <h1 class="title" style="padding-bottom: 50px">OUR SERVICES</h1>
  <div
    class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd has-text-centered"
  >
    <div class="column">
      <div class="box" style="padding-top: 60px">
        <div style="position: relative">
          <img
            style="
              position: absolute;
              width: 100px;
              height: 100px;
              border-radius: 50%;
              top: -110px;
              left: 70px;
            "
            src="https://static.toiimg.com/photo/msid-92750074/92750074.jpg"
            alt="Image"
          />
        </div>
        <article class="media">
          <div class="media-content">
            <div class="content has-text-centered">
              <h2 class="title has-text-dark">Lorem, ipsum.</h2>
              <p class="subtitle has-text-dark">
                Lorem ipsum dolor sit amet consectetur!
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="column">
      <div class="box" style="padding-top: 60px">
        <div style="position: relative">
          <img
            style="
              position: absolute;
              width: 100px;
              height: 100px;
              border-radius: 50%;
              top: -110px;
              left: 70px;
            "
            src="https://static.toiimg.com/photo/msid-92750074/92750074.jpg"
            alt="Image"
          />
        </div>
        <article class="media">
          <div class="media-content">
            <div class="content has-text-centered">
              <h2 class="title has-text-dark">Lorem, ipsum.</h2>
              <p class="subtitle has-text-dark">
                Lorem ipsum dolor sit amet consectetur!
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
    <div class="column">
      <div class="box" style="padding-top: 60px">
        <div style="position: relative">
          <img
            style="
              position: absolute;
              width: 100px;
              height: 100px;
              border-radius: 50%;
              top: -110px;
              left: 70px;
            "
            src="https://static.toiimg.com/photo/msid-92750074/92750074.jpg"
            alt="Image"
          />
        </div>
        <article class="media">
          <div class="media-content">
            <div class="content has-text-centered">
              <h2 class="title has-text-dark">Lorem, ipsum.</h2>
              <p class="subtitle has-text-dark">
                Lorem ipsum dolor sit amet consectetur!
              </p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <h1 class="title">PICK A PET</h1>
  <p class="text">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci odio,
    quae non consequatur minus rem officiis! Minus porro aspernatur blanditiis
    ullam quas inventore corrupti in laborum officia velit. Rem, nam?
  </p>
  <a
    class="button is-info is-inverted"
    style="margin-top: 20px"
    href="{{ url_for('auth.login') }}"
  >
    <span>Learn More</span>
  </a>
</section>
<section class="has-text-centered" style="padding: 100px 100px 100px 100px">
  <h1 class="title" style="padding-bottom: 50px">OUR SERVICES</h1>
  <div
    class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd has-text-centered"
  >
    <div class="column">
      <img
        src="https://static.toiimg.com/photo/msid-92750074/92750074.jpg"
        alt="Image"
      />
    </div>
        <div class="column">
      <img
        src="https://static.toiimg.com/photo/msid-92750074/92750074.jpg"
        alt="Image"
      />
    </div>
        <div class="column">
      <img
        src="https://static.toiimg.com/photo/msid-92750074/92750074.jpg"
        alt="Image"
      />
    </div>
  </div>
  <div
    class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd has-text-centered"
  >
    <div class="column">
      <img
        src="https://static.toiimg.com/photo/msid-92750074/92750074.jpg"
        alt="Image"
      />
    </div>
        <div class="column">
      <img
        src="https://static.toiimg.com/photo/msid-92750074/92750074.jpg"
        alt="Image"
      />
    </div>
        <div class="column">
      <img
        src="https://static.toiimg.com/photo/msid-92750074/92750074.jpg"
        alt="Image"
      />
    </div>
  </div>
  <div
    class="columns is-variable is-1-mobile is-0-tablet is-3-desktop is-8-widescreen is-2-fullhd has-text-centered"
  >
    <div class="column">
      <img
        src="https://static.toiimg.com/photo/msid-92750074/92750074.jpg"
        alt="Image"
      />
    </div>
        <div class="column">
      <img
        src="https://static.toiimg.com/photo/msid-92750074/92750074.jpg"
        alt="Image"
      />
    </div>
        <div class="column">
      <img
        src="https://static.toiimg.com/photo/msid-92750074/92750074.jpg"
        alt="Image"
      />
    </div>
  </div>
  <h1 class="title" style="margin-top: 70px;">REVIEWS FROM OUR FURBABIES</h1>
</section>
{% endblock %}
